/* =================================
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
	line-height: 1.6;
	background-color: #d6d6d6;
}

a {
	text-decoration: none;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.nav-item {
  text-align: center;
  background-color: #fff;
  text-transform: uppercase;
}

/* ---- Layout Containers ---- */

.container-1 {
  background-color: #fafafa;
  padding-left: 1em;
  padding-right: 1em;
}

.header-name {

}

.main-header {
	text-align: center;
}

.main-footer {
	text-align: center;
	padding: 2em 0;
	background-color: #f9f9f9;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 320px) {
	.container {
		width: 70%;
		max-width: 1000px;
		margin: 0 auto;
	}
}

/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
